/*
-----------------------------------------------
inicio
----------------------------------------------- */

.menu_bar {
	display:none;
}

#slider {
position: relative;
left: 0;
top: 0;
overflow: hidden;
width: 65%;
height: 45%;
border:0px solid #00557d;
border-radius: 40px;
margin: 0 auto;
background-color: #dede7e;

}


#slider h3 {
  display: inline;
  position: absolute;
  top:  5%;
  left: 45%;
  width: 50%;
  height:10%;
  margin:0;
  padding: 0px 0;
  color: #110404;
  font-size: 22px;
  line-height:22px;
  text-align:center;
}

#slider img {
  display: inline;
position: absolute;
width:35%;
height: 65%;
top: 15%;
left:5%;
bottom: 15%
margin:0;
border:0;
}
#slider p {
position: absolute;
left: 45%;
top: 20%;
width: 50%;
height: 70%;
margin:0;
padding: 0px 0;
color: #110404;
font-size: 15px;
text-align:justify;
}

#slider p::selection{
  background: #66afb4;
  color: black;
  text-shadow: 1px 1px 3px rgb(238, 126, 45);
}
#org img{
width: 100%;
height: 100%;

}


/*------------------------------------------
Login
----------------------------------------------- */

#fondologin {
  position: fixed;
  margin: 0%;
  padding: 0%;
  width: 100%;
  height: 100%;
  background-image: url("../img/fondo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#titulo {
  font-size: 22px;
  text-align: center;
  margin-top: 5%;
  color: #5b3f2b;
}
#formlogin {
  width: 20%;
  margin: auto;
  max-width: 500px;
  padding-top: 2%;
  padding-bottom: 4%;
  padding-left: 8%;
  padding-right: 10%;
  border-radius: 20px;
  border: 2px solid black;
/*background-image:radial-gradient(#f1f1f1 0.1%, #bba79b 92%);*/}

#formlogin img {

  width: 60%;
  margin-left: auto;
  margin-right: auto;
  color: white;
  opacity: 1;
}

  #formlogin input {
    display: block;
    padding: 10px;
    width: 100%;
    margin: 30px 0px;
    font-size: 20;
    border-radius: 10px;
  opacity: 1;
  }
#formlogin input[type="submit"]
{border-radius: 40px;
margin-bottom: 0;
border: 0;
cursor: pointer;
opacity: 0.6;
background-color: #dede7e;
  width: 100%;

}
#formlogin input[type="submit"]:hover{
  opacity: 1;
  }
#formlogin input[type="submit"]:active{
  transform: scale(0.95);
}
@media (max-width:768px){
  formlogin{
    width: 75%;
  }
}
@media (max-width:480px){
  formlogin{
    width: 95%;
  }
}
/*
-----------------------------------------------
Procesos
----------------------------------------------- */
#cajaproceso{
  display: none;
}
/*
-----------------------------------------------
gestion de usuarios
----------------------------------------------- */

/*
-----------------------------------------------
gestion de calidad
----------------------------------------------- */
table {
border-collapse: collapse;
width: 100%;
background-color: #bdbdbd;

}
tr:nth-child(2n+1){
  background-color: #d5d5d5;
}
thead, th{
  background-color: #8bbdc8;
  border-collapse: separate;
  border:1px solid white;
  text-align: right;
  vertical-align: top;
}
tbody td{
text-align: left;
vertical-align: bottom;
}
tbody input[type = radio]{
 text-align: justify;

}

tbody textarea{
width: 98%;
height: 20px;
size: 12;
border-style: hidden;
}
input[type="button"]{
	padding: 8px 16px;
	background: gray;
	border: 0;
	display: block;
	font-weight: bold;
	color: white;
	border-radius: 6px;
}
 input[type="button"]:hover{
	background: #505050;
}
.botonizquierdo{
  float: left;
}
.botonderecho{
  float: right;
  padding-bottom: 20%;
  margin-bottom: 20%;
}
.textocentro{
  margin-left: auto;
  margin-right: auto;
}
